.container {
    display: flex;
    flex-direction: column;
}

.sect1, .sect2, .sect3, .sect4 {
    outline: 2px solid red ;
    height: 250px;
    flex: 1 1 auto;
}


.sect1 {
    background-color: #1f2937;
}

.header-tab {
    height: 50px;
    display: flex;
}




