.container {
    display: flex;
    flex-direction: column;
}

.sect1, .sect2, .sect3, .sect4 {
    height: 250px;
    flex: 1 1 auto;
}


.sect1 {
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    
}

.sect1-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: flex-start;
    outline: 2px solid pink;
    padding: 200px;


}


.sect1-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}


.sect1-body {
    display: flex;
    outline: 2px solid purple;
    height: 400px;
}

.header-tab {
    height: 50px;
    outline: 2px solid green;
    display: flex;
    align-items: center;
}


.header-logo {
    display: flex;
    justify-content: center;
    outline: 2px solid blue;
    flex: 1 1 auto;
}



.header-link {
    display: flex;
    justify-content: center;
    outline: 2px solid orange;
    flex: 1 1 auto;
}


.placeholder {
    height: 250px;
    width: 600px;
    background-color: gray;
}

.sect2 {

}

.sect2-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sect3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.sect-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.sect-body div {
    height: 75px;
    width: 75px;
    outline: 2px solid #3882f6;
}


.sect4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-floor {
    background-color: #3882f6;
    width: 750px;
    height: auto;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: #1f2937;
}
